<footer>
    <div class="copy-right">
        <p>Copyright @2021 John Doe</p>
    </div>
    <div class="footer-links">
        <div class="social-media">
            <div class="footer-category-title">
                <p>Follow Me</p>
            </div>

            {% for item in socialLinks %}
                <div class="footer-link">
                    <img src="{{ item.img }}" alt="{{ item.imgAlt }}">
                    <a href="#">{{ item.name }}</a>
                </div>
            {% endfor %}

            {# <div class="footer-link">
                <img src="https://via.placeholder.com/50" alt="LinkedIn">
                <a href="#">LinkedIn</a>
            </div> #}
            {# <div class="footer-link">
                <img src="https://via.placeholder.com/50" alt="Behance">
                <a href="#">Behance</a>
            </div>
            <div class="footer-link">
                <img src="https://via.placeholder.com/50" alt="Instagram">
                <a href="#">Instagram</a>
            </div> #}
        </div>
        <div class="sitemap">
            <div class="footer-category-title">
                <p>Sitemap</p>
            </div>
            <a href="#">Home</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
</footer>