---
layout: 'base.njk'
eleventyComputed:
  pageUrl: "{{page.url}}"
  SEO: 
    metaTitle: "{{title}}"
    metaDescription: "{{summary}}"
    metaImage: "{{landingImage}}"
tags: 
 - nav
pageName: "About"
date: 2021-03-01
---

<div class="section spacing top-m-s">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <div class="about-grid">
        <img src="{{ landingImage }}" 
             alt="{{ landingImageAlt }}"
             class="border-round-lrg">
        <div class="about-intro">
            <p class="intro-meta">
               {{ summary }}
            </p>
            <div class="about-links">
                {% for item in links %}
                    <a  href="{{ item.url }}" 
                        class="border-round-sm btn-primary"
                        target="_blank"> 
                      {{ item.linkName }} 
                      <span>&#8594;</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="section spacing fit-content bottom-m-l">
    <div class="title">
        <h1>Skills</h1>
    </div>

    <div class="skills">
        {% if skills.length < 0 %}
                <h2 class="alert">
                    Comming Soon!
                </h2>
        {% else %}
        <div class="skills-container">
                {% for skill in skills %}
                    <div class="skill-card border-round-lrg">
                        <p>{{ skill.name }}</p>
                        <img src="{{ skill.image }}" 
                            alt="{{ skill.imageAlt }}"
                            class="border-round-lrg">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<div class="section spacing fit-content bottom-m-l">
    <div class="title">
        <h1>Interests</h1>
    </div>

    <div class="interests-list" 
    {% if interestsImage == "" %}
        style="grid-template-columns:1fr;width: fit-content;"
    {% endif %}>                    
        <ul>
            {% for interest in interests %}
                <li><span class="bullet-point"></span>{{ interest.item }}</li>
            {% endfor %}
        </ul>
        {% if interestsImage != "" %}
            <img src="{{ interestsImage }}" alt="placeholderImage" class="border-round-lrg">
        {% endif %}
    </div>
</div>

<div class="spacing markdown bottom-m-l">

    {{ content | safe}}

</div>