---
layout: 'base.njk'
eleventyComputed:
  pageUrl: "{{page.url}}"
  SEO: 
    metaTitle: "{{title}}"
    metaDescription: "{{summary}}"
    metaImage: "{{landingImage}}"
tags: 
 - nav
pageName: "About"
date: 2021-03-01
---

<div class="section spacing top-m-s">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <div class="about-grid">
        <img src="{{ landingImage }}" 
             alt="{{ landingImageAlt }}">
        <div class="about-intro">
            <p class="intro-meta">
               {{ summary }}
            </p>
            <div class="about-links">
                {% for item in links %}
                    <a href="{{ item.url }}" 
                      class="border-round-sm btn-primary"> 
                      {{ item.linkName }} 
                      <span>&#8594;</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="section spacing fit-content bottom-m-l">
    <div class="title">
        <h1>Skills</h1>
    </div>

    <div class="skills">
        <div class="skills-container">

            {% for skill in skills %}
                <div class="skill-card">
                    <p>{{ skill.name }}</p>
                    <img src="{{ skill.image }}" 
                         alt="{{ skill.imageAlt }}">
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<div class="section spacing fit-content bottom-m-l">
    <div class="title">
        <h1>Interests</h1>
    </div>

    <div class="interests-list">                    
        <ul>
            {% for interest in interests %}
                <li><span class="bullet-point"></span>{{ interest.item }}</li>
            {% endfor %}
        </ul>
        <img src="https://via.placeholder.com/600" alt="placeholderImage">
    </div>
</div>

<div class="section spacing markdown bottom-m-l">

    {{ content | safe}}

</div>