<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.author}} - {{ SEO.metaTitle }}</title>
    <meta name="description" CONTENT="{{ SEO.metaDescription }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <!-- Preload -->
    <link rel="preload" as="font" crossorigin="anonymous" type="font/ttf" href="/assets/fonts/Poppins-Light.ttf">
    <link rel="preload" as="font" crossorigin="anonymous" type="font/ttf" href="/assets/fonts/Poppins-Medium.ttf">
    <link rel="preload" as="font" crossorigin="anonymous" type="font/ttf" href="/assets/fonts/Poppins-Regular.ttf">

    <!-- Twitter + Open Graph -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{ site.authorTwitter }}" />
    <meta property="og:url" content="{{ site.url ~ page.url }}" />
    <meta property="og:title" content="{{ SEO.metaTitle }}" />
    <meta property="og:description" content="{{ SEO.metaDescription }}" />
    <meta property="og:image" content="{{ site.url ~ SEO.metaImage }}" />

    <!-- CSS -->
    <link href="/style.css" rel="stylesheet">

    <!-- Scripts -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/main.js"></script>

</head>
<body>
    {% include 'partials/_header.njk' %}
    
    <main>

      <div class="popup-wrapper" id="popup">
        <div class="popup-content spacing">
          <p>This website is a template using Jamstack architecture, get the template at <a href="">Github</a></p>
          <svg onclick="ClosePopUp()" xmlns="http://www.w3.org/2000/svg" width="38.664" height="38.664" viewBox="0 0 38.664 38.664">
            <g id="Group_67" data-name="Group 67" transform="translate(-1293.084 -263.584)">
              <rect id="Rectangle_51" data-name="Rectangle 51" width="46.185" height="8.494" transform="translate(1299.09 263.584) rotate(45)" fill="#fff"/>
              <rect id="Rectangle_52" data-name="Rectangle 52" width="46.185" height="8.494" transform="translate(1293.084 296.242) rotate(-45)" fill="#fff"/>
            </g>
          </svg>
        </div>
      </div>

      <script src="/popupNotification.js"></script>

      {{ content | safe }}

    </main>
    
    {% include 'partials/_footer.njk' %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

</body>
</html>