---
socialLinks: 
  - name: LinkedIn
    url : https://www.linkedin.com/
    img : https://via.placeholder.com/50
    imgAlt: "Placeholder Image"
  - name: Behance
    url : https://www.linkedin.com/
    img : https://via.placeholder.com/50
    imgAlt: "Placeholder Image"
  - name: Instagram
    url : https://www.linkedin.com/
    img : https://via.placeholder.com/50
    imgAlt: "Placeholder Image"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" CONTENT="I am a passionate Social Media Marketer with an unmatched work ethic. Vist my site to find out more...">
    <!-- <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "url": "https://www.jinjerjane.com/"
        }
    </script> -->
    <title>{{ title }}</title>

    <link href="/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    {% include '_header.njk' %}
    
    <main>
    {{ content | safe }}
    </main>
    
    {% include '_footer.njk' %}
</body>
</html>