---
layout: 'base.njk'
eleventyComputed:
  pageUrl: "{{page.url}}"
  SEO: 
    metaTitle: "{{title}}"
    metaDescription: "{{summary}}"
    metaImage: "{{image}}"
tags: 
 - nav
pageName: "Contact"
date: 2021-04-01
---
<div class="section contact-page spacing top-m-s full-page">

    <div class="title">
        <h1>{{ summary }}</h1>
    </div>

    {% include 'partials/_contact-form.njk' %}

</div>