---
layout: 'base.njk'
eleventyComputed:
  SEO: 
    metaTitle: "{{title}}"
    metaDescription: "{{summary}}"
    metaImage: "{{image}}"
---

<img class="work-bg-img" src="{{ image }}" alt="{{ imageAlt}}">
<div class="section spacing full-page top-p-m">
    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <div class="project-summary">
        {% if date %}
            <div class="project-meta">
                    <div class="meta-container">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="159" height="159" viewBox="0 0 159 159">
                            <defs>
                                <clipPath id="clip-path">
                                <rect width="127" height="81" fill="none"/>
                                </clipPath>
                            </defs>
                            <g id="Group_66" data-name="Group 66" transform="translate(-275 -211)">
                                <rect id="Rectangle_48" data-name="Rectangle 48" width="159" height="159" rx="23" transform="translate(275 211)" fill="#fff"/>
                                <rect id="Rectangle_49" data-name="Rectangle 49" width="127" height="29" rx="10" transform="translate(291 229)" fill="#113537"/>
                                <g id="Repeat_Grid_6" data-name="Repeat Grid 6" transform="translate(291 271)" clip-path="url(#clip-path)">
                                <g transform="translate(-291 -276)">
                                    <rect id="Rectangle_50" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                <g transform="translate(-243 -276)">
                                    <rect id="Rectangle_50-2" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                <g transform="translate(-195 -276)">
                                    <rect id="Rectangle_50-3" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                <g transform="translate(-291 -227)">
                                    <rect id="Rectangle_50-4" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                <g transform="translate(-243 -227)">
                                    <rect id="Rectangle_50-5" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                <g transform="translate(-195 -227)">
                                    <rect id="Rectangle_50-6" data-name="Rectangle 50" width="31" height="32" transform="translate(291 276)" fill="#113537"/>
                                </g>
                                </g>
                            </g>
                        </svg>
                        <p> {{date | projectDate}} </p>
                    </div>
            </div>
        {% endif %}
        <p>{{ summary }}</p>

        <div class="cta centre-parent">
            <a href="#target-content" class="btn-primary">Tell me more!<span>&#8595;</span></a>
        </div>
    </div>
</div>

<div class="section work-content markdown spacing bottom-m-l top-m-s">
    <span class="anchor-link" id="target-content"></span>
        {{ content | safe }}
</div>