---
layout: 'base.njk'
---

{% set currentProjectsCount = 0 %}

<div class="section spacing bottom-m-l top-m-m">
    <div class="title">
        <h1 class="bottom-m-s">All Projects</h1>
    </div>

    <nav aria-labelledby="my-pagination" class="pagination">
        <ol>
            <li>
                {% if page.url != pagination.href.first %}
                    <a href="{{ pagination.href.first }}">First</a>
                {% else %}
                    First
                {% endif %}
            </li>

            <li>
                {% if pagination.href.previous %}
                    <a href="{{ pagination.href.previous }}"><</a>
                {% endif %}
            </li>

            {%- for project in pagination.pages %}
                <li>
                    <a href="{{ pagination.hrefs[ loop.index0 ] }}"
                        {% if page.url == pagination.hrefs[ loop.index0 ] %} 
                            aria-current="page"
                        {% endif %}>{{ loop.index }}</a>
                    </li>
            {%- endfor %}
            
            <li class="pagination-traverse">
                {% if pagination.href.next %}
                    <a href="{{ pagination.href.next }}">></a>         
                {% endif %}
            </li>

            <li>
                {% if page.url != pagination.href.last %}
                    <a href="{{ pagination.href.last }}">Last</a>
                {% else %}
                    Last
                {% endif %}
            </li>
        </ol>
        <span>({{pagination.length}})</span>
    </nav>

    <div class="projects">

        {% for project in pagination.items %}
            {% set currentProjecsCount += 1 %}
            {% include 'partials/_project-snippet.njk' %}
        {% endfor %}
        
    </div>

</div>

<script>
    var amountOfCards = $('.projects').children().length;
    if(amountOfCards > 0 && amountOfCards % 2 !== 0){
        $('.projects').children().last().addClass("last-card");
    }
</script>