---
layout: 'base.njk'
eleventyComputed:
  pageUrl: "{{page.url}}"
  SEO: 
    metaTitle: "{{title}}"
    metaDescription: "{{summary}}"
    metaImage: "{{image}}"
tags:
  - nav
pageName: "Work"
date: 2021-02-01
---

<div class="section spacing bottom-m-l top-m-m">
    <div class="title">
        <h1 class="bottom-m-s">All Projects</h1>
    </div>

    <nav aria-labelledby="my-pagination" class="pagination">
        <ol>
            <li>
                {% if page.url != pagination.href.first %}
                    <a href="{{ pagination.href.first }}"><<</a>
                {% else %}
                    <<
                {% endif %}
            </li>

            <li>
                {% if pagination.href.previous %}
                    <a href="{{ pagination.href.previous }}"><</a>
                {% endif %}
            </li>

            {%- for project in pagination.pages %}
                <li>
                    <a href="{{ pagination.hrefs[ loop.index0 ] }}"
                        {% if page.url == pagination.hrefs[ loop.index0 ] %} 
                            aria-current="page"
                        {% endif %}>{{ loop.index }}</a>
                    </li>
            {%- endfor %}
            
            <li class="pagination-traverse">
                {% if pagination.href.next %}
                    <a href="{{ pagination.href.next }}">></a>         
                {% endif %}
            </li>

            <li>
                {% if page.url != pagination.href.last %}
                    <a href="{{ pagination.href.last }}">>></a>
                {% else %}
                    >>
                {% endif %}
            </li>
        </ol>
        <span></span>
    </nav>

    <div class="projects-layout-container">
        <span class="projects-layout active-layout" id="featured_row" onclick="ShowCardRow();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="83" height="58" viewBox="0 0 83 58">
                <defs>
                    <clipPath id="clip-path">
                    <rect width="83" height="58" fill="none"/>
                    </clipPath>
                </defs>
                <g id="Repeat_Grid_1" data-name="Repeat Grid 1" clip-path="url(#clip-path)">
                    <g transform="translate(-173 -65)">
                    <rect id="Rectangle_1" data-name="Rectangle 1" width="83" height="14" transform="translate(173 65)" fill="#fff"/>
                    </g>
                    <g transform="translate(-173 -44)">
                    <rect id="Rectangle_1-2" data-name="Rectangle 1" width="83" height="14" transform="translate(173 65)" fill="#fff"/>
                    </g>
                    <g transform="translate(-173 -23)">
                    <rect id="Rectangle_1-3" data-name="Rectangle 1" width="83" height="14" transform="translate(173 65)" fill="#fff"/>
                    </g>
                </g>
            </svg>
        </span> 
        <span class="projects-layout" id="featured_grid" onclick="ShowCardGrid();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="83" height="58" viewBox="0 0 83 58">
                <defs>
                    <clipPath id="clip-path">
                    <rect width="83" height="58" fill="none"/>
                    </clipPath>
                </defs>
                <g id="Repeat_Grid_2" data-name="Repeat Grid 2" clip-path="url(#clip-path)">
                    <g transform="translate(-281 -70)">
                    <rect id="Rectangle_2" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                    <g transform="translate(-251 -70)">
                    <rect id="Rectangle_2-2" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                    <g transform="translate(-221 -70)">
                    <rect id="Rectangle_2-3" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                    <g transform="translate(-281 -37)">
                    <rect id="Rectangle_2-4" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                    <g transform="translate(-251 -37)">
                    <rect id="Rectangle_2-5" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                    <g transform="translate(-221 -37)">
                    <rect id="Rectangle_2-6" data-name="Rectangle 2" width="22" height="25" transform="translate(281 70)" fill="#fff"/>
                    </g>
                </g>
            </svg>
        </span>
    </div>

    <div class="projects">

        {% for project in pagination.items %}
            {% include 'partials/_project-snippet.njk' %}
        {% endfor %}
        
    </div>

</div>

<script>
    var amountOfCards = $('.projects').children().length;
    if(amountOfCards > 0 && amountOfCards % 2 !== 0){
        $('.projects').children().last().addClass("last-card");
    }

    $(".pagination span").html("(" + amountOfCards + ")");
</script>