---
layout: 'base.njk'
---

<div class="section spacing bottom-m-l top-m-m">
    <div class="title">
        <h1>All Projects</h1>
    </div>

    <div class="projects">

        {% for project in collections.project | reverse %}
            {% include 'partials/_project-snippet.njk' %}
        {% endfor %}
        
    </div>

</div>

<script>
    var amountOfCards = $('.projects').children().length;
    if(amountOfCards > 0 && amountOfCards % 2 !== 0){
        $('.projects').children().last().addClass("last-card");
    }
</script>