<header>
    <nav>
        <div class="spacing">    
            <div class="nav-main">
                <li>
                    <a href="/">
                        John Doe
                    </a>
                </li>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/work/">
                        Work
                    </a>
                </li>
                <li>
                    <a href="/about/">
                        About
                    </a>
                </li>
                <li>
                    <a href="/contact/">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>