---
title: John Doe - Latest Projects
layout: 'base.njk'

---

<div class="section spacing bottom-m-l top-m-m">
    <div class="title">
        <h1>All Projects</h1>
    </div>

    <div class="projects">

        {% for project in collections.project %}

        <div class="card">
            <img src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
            <div class="content">
                <div class="card-title"><h4>{{ project.data.title }}</h4></div>
                <div class="card-date">{{ project.data.date | projectDate}}</div>
                <div class="card-breadcrumbs"><p>{{ project.data.summary }}</p></div>
                <a href="{{ project.url }}" class="card-cta btn-primary">Learn More</a>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

<script>
    var amountOfCards = $('.projects').children().length;
    if(amountOfCards > 0 && amountOfCards % 2 !== 0){
        $('.projects').children().last().addClass("last-card");
    }
</script>