---
title: John Doe - Latest Projects
layout: 'base.njk'

---

<main>
    <div class="section spacing bottom-m-l top-m-m">
        <div class="title">
            <h1>All Projects</h1>
        </div>

        <div class="projects">
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/600" alt="Card_photo">
                <div class="content">
                    <div class="card-title"><h4>Social Media Integration</h4></div>
                    <div class="card-date">July 2021</div>
                    <div class="card-breadcrumbs"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p></div>
                    <a href="#" class="card-cta btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    var amountOfCards = $('.projects').children().length;
    if(amountOfCards > 0 && amountOfCards % 2 !== 0){
        $('.projects').children().last().addClass("last-card");
    }
</script>