@font-face { font-family: Poppins-Light; src: url('assets/fonts/Poppins-Light.ttf');font-display: swap; } 
@font-face { font-family: Poppins-Medium; src: url('assets/fonts/Poppins-Medium.ttf');font-display: swap; } 
@font-face { font-family: Poppins-Regular; src: url('assets/fonts/Poppins-Regular.ttf');font-display: swap; } 

:root{
    --primary-colour: #F0544F;
    --secondary-colour: #113537;
    --text-colour:#113537;
    --white:#ffff;
    --page-bg-colour: #E6E6E6;
    --nav-height:45px;
    --h1: #F0544F;
    --input-field-background: #F8F8F8;
    --placeholder: #D2D1D1;
}

/* #region General */

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    color: var(--h1);
}

h1{
    font-family: 'Poppins-Regular';
    font-size: 36px;
    margin-bottom: 9vh;
    line-height: 42px;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular, sans-serif;
    color: var(--secondary-colour);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

strong{
    position: relative;
    z-index: 2;
}

strong::after{
    content: '';
    background: var(--primary-colour);
    display: block;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 1px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

table{
    margin: 20px auto;
}

blockquote{
    background-color: whitesmoke;
    padding: 4px 15px;
}

[aria-current] {    
    background-color: var(--primary-colour);
    color: var(--white) !important;
}

[aria-current]:hover{
    background-color: var(--primary-colour) !important;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input, textarea{
    border: 1px solid transparent;
    width: 100%;
}

input{
    height: fit-content;
}

input[type="submit"]{
    width: 100%;
    padding: 6px 16px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

textarea{
    resize: none;
}

input:focus, textarea:focus{
    border-radius: 2pt;
    border: 1px solid var(--secondary-colour);
    outline: none;
    transition: .1s;
}

::placeholder{
    color: var(--placeholder);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder);
}

.spacing{
    margin: 0px 7.5% 0 7.5%;
    max-width:85%
}

.anchor-link{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(5%, 50%);
}

.btn-primary{
    color: var(--white);
    font-family: Poppins-Light;
    background-color: var(--primary-colour);
    padding: 7px 30px;
    text-align: center;
    border-radius: 5px;
    display: block;
    width: fit-content;
    position: relative;
    margin: auto;
}

.bg-white{
    background-color: var(--white);
    color: var(--secondary-colour);
}

.font-italics{
    font-style: italic;
}

.text-left-align{
    text-align: left;
}

.section{
    min-height: 100vh;
    position: relative;
}

.section .title{
    text-align: center;
}

.fit-content{
    min-height:fit-content;
}

.last-section{

}

.full-page{

}

.page-link{
    text-align: center;
    text-decoration: underline;
    display: block;
    font-family: Poppins-Light;
    font-size: 16px;
}

.bottom-m-s{
    margin-bottom: 4vh;
}

.bottom-m-l{
    margin-bottom: 25vh;
}

.top-m-l{
    margin-top: 20vh;
}

.top-m-m{
    margin-top: calc(var(--nav-height) + 4vh);
}

.top-m-s{
    margin-top: calc(var(--nav-height) + 2vh);
}

.top-p-m{
    padding-top: 10vh;
}

.bg-colour-main{
    background-color: var(--page-bg-colour);
}

.pg-fixed-bg{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -3;
}

.rich-text{
    margin-top: 2vh;
}

.centre-parent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination{
    width: fit-content;
    margin: auto;
    background-color: unset;
    height: unset;
    z-index: unset;
    color: unset;
    margin-bottom: 10vh;
}

.pagination ol{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pagination ol li {
    min-width: 20px;
}

.pagination li, .pagination li a {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: inherit;
    color: unset;
}

.pagination li a:hover{
    background-color: var(--page-bg-colour);
}

.pagination-traverse{
    font-size: 40px;
    line-height: 32px;
}

/* #endregion */

/* #region NavigationBar */

nav {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--secondary-colour);
    /* TODO : Make the navbar sticky and dissapear when scrolling down, 
    but appear when scrolling up */
    position: relative;
    z-index: 10;
}

nav .nav-logo {
    display: block;
    line-height: unset;
    height: var(--nav-height);
}

nav .nav-logo svg{
    max-width: 120px;
    margin: auto;
    height: var(--nav-height);
}

nav li a{ 
    font-size: 14px;
    color: var(--white);
    line-height: var(--nav-height);

}

nav a:hover{
    text-decoration: underline;
}

nav .nav-main{
    float: left;
}

nav .nav-links{
    float: right;
    display: flex;
    margin: auto;
}

nav .nav-links li{
    margin-right: 20px;
}

.hamburger{
    display: none;
     float: right;
     height: var(--nav-height);
}

.hamburger-icon{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 6px;
    height: inherit;
    padding: 5px 0;
}

.hamburger-icon .line{
    min-width: 40px;
    background-color: var(--white);
    height: 5px;
    transition: 0.5s;
}

.hamburger-content{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.hamburger-links{
    height: inherit;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--secondary-colour);
}

.hamburger-links li{
    position: relative;
    display: block;
}

.hamburger-links li a{
    /* font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    font-size: 20px;
    display: block;
    height: 100%;
    position: relative;
}

.hamburger-links span{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    transform: translate(-50%, -50%);
}

.top-line{
    transform-origin: top left;
}

.bottom-line{
    transform-origin: bottom left;
}

.rotate-top{
    transform: rotate(45deg);
}

.ham-middle-line{
    background-color: var(--secondary-colour) !important;
}

.rotate-bottom{
    transform: rotate(-45deg);
}

.reset-rotate{
    transform: rotate(0);
}

/* #endregion */

/* #region Landing */

.landing{
    background-color: var(--page-bg-colour);
    margin-top: calc(-1 * var(--nav-height));
}

.landing .hero{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: fit-content;
    margin: auto;
    text-align: center;
    max-width: 1000px;
}

.landing .hero .intro{
    margin-bottom: 20px;
}

.landing .avatar{
    max-width: 160px;
    margin: auto;
}

.landing h1{
    font-size: 19px;
    font-family: Poppins-Light, sans-serif;
    font-weight: 500;
    margin-bottom: unset;
    line-height: 24px;
}

.landing .call-to-action{
    margin-top: 5vh;
}

.landing .call-to-action span{
    color:var(--white);
    margin-left: 10px;
}

/* #endregion */

/* #region Featured*/

.featured {
    margin-top: 20vh;
}

.projects{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 5vh; */
    margin-bottom: 8vh;
}

.card{
    width: 100%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-column-gap: 36px;
    /* max-width: 600px; */
    margin: auto;
    margin-bottom: 5vh;
}

.card .content{
    text-align: left;
}

.content * {
    font-family: Poppins-Light;
}

.card-title{
    margin-top: 10px;
    margin-bottom: 25px;
}

.card-title h4{
    font-size: 18px;
}

.card-date{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.card-breadcrumbs{
    font-size: 15px;
    margin-bottom: 30px;
}

.card-breadcrumbs p{
    line-height: 19px;
}

.card-cta{
    width: fit-content;
    font-size: 13px;
    padding: 5px 25px;
    margin: unset;
}

.last-card{
    grid-column-start: 1;
    grid-column-end: 3;
}

/*#endregion*/

/* #region Contact-section */

.contact-page .title {
    max-width: 37vw;
    min-width: 20em;
    margin: auto;
    margin-bottom: 9vh;
}

.contact-form{
    width: fit-content;
    margin: auto;
    min-width: 300px;
    max-width: 300px;
}

.contact-detail *{
    display: block;
}

.contact-detail{
    margin-bottom: 15px;
}

.contact-detail label{
    margin-bottom: 3px;
}

.contact-detail input{
    background-color: var(--input-field-background);
    padding: 7px 16px;
}

.contact-detail textarea{
    padding: 11px 16px;
    background-color: var(--input-field-background);
}

.contact-detail input[type="submit"]{
    background-color: var(--primary-colour);
    color: var(--white);
    font-size: 25px;
    margin-top: 10px;
}

/*#endregion */

/* #region Footer */

footer {
    padding: 3vh 0;
    background-color: var(--secondary-colour);
}

footer * {
    color: var(--white);
    font-size: 14px;
    font-family: Poppins-Light, sans-serif;
}

footer a{
    color: #DBDBDB;
    margin: auto 0;
}

footer a:hover{
    text-decoration: underline;
}

footer .copy-right{
    text-align: center;
    margin-bottom: 25px;
}

footer .footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: auto;
    grid-gap: 50px;
}

footer .footer-link{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    margin-bottom: 5px;
}

.footer-link img{
    width: 100%;
    height: 100%;
    max-height: 25px;
}

footer .footer-category-title{
    font-family: Poppins-Medium, sans-serif;
}

footer .sitemap a{
    display: flex;
    flex-direction: column;
}

/* #endregion */

/* #region About */

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    max-width: 900px;
    margin: auto;
    margin-top: 20vh;
    position: relative;
}

.about-links{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    max-width: 150px;
}

.intro-meta{
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
}

.about-links a{
    text-align: left;
    position: relative;
    border: .05px solid rgb(233, 233, 233);
    padding: 2px 35px 2px 10px;
    margin: unset;
}

.about-links a span{
    position: absolute;
    right: 10px;
}

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6vh;
    width: fit-content;
    margin: auto;
}

.skill-card{
    position: relative;
    max-width: 250px;
}

.skill-card p{
    position: absolute;
    top: 10px;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 10px);
}

.skill-card img{
    border-radius: 25px;
    box-shadow: 1px 3.5px 6px 1px rgb(0 0 0 / 17%);
}

.interests-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4vh;
    max-width: 900px;
    margin: auto;
}

.interests-list ul{
    display: grid;
    grid-row-gap: 1vh;
    height: fit-content;
}

.interests-list img{
    max-width: 300px;
    margin: auto;
}

/* #endregion */

/* #region individual-work */

.work-bg-img{
    position: absolute;
    top: 0;
    filter: brightness(55%);
    opacity: 0.3;
    min-height: calc(100vh + var(--nav-height));
}

.project-meta .meta-container{
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-gap: 20px;
    width: fit-content;
    height: fit-content;
}

.meta-container svg{
    max-width: 50px;
}

.project-summary p{
    max-width: 900px;
    text-align: center;
    margin: auto;
    line-height: 18px;
}

.project-meta{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-bottom: 30px;
}

.meta-container p, .meta-container a{
    font-family: Poppins-Light, sans-serif;
    font-size: 14px;
    margin: auto;
}

.cta span{
    color: var(--white);
    position: absolute;
    right: 14px;
}

.markdown h1{
    margin-bottom: unset;
    line-height: revert;
    font-weight: revert;
}

.markdown a{
    text-decoration: underline;
}

.markdown ul{
    width: fit-content;
    margin: 15px auto;
}

/* #endregion */

/* #region 404 */

.not-found-container{
    min-height: 100vh;
    position: relative;
    background-color: var(--secondary-colour);
}

.not-found{
    max-width: 500px;
    min-width: 300px;
    height: fit-content;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.not-found *{
    color: var(--white);
}

.not-found h1{
    margin-bottom: 7px;
}

.not-found p{
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.not-found .btn-primary{
    margin-top: 5vh;
}

/* #endregion */

/* #region Media Queries */

@media screen and (max-width:1100px){

    .section{
        /* min-height: 60vh; */
        min-height: fit-content;
        margin: 10vh auto;
    }

    .landing {
        background-color: var(--page-bg-colour);
        min-height: 100vh !important;
        margin-top: calc(-1 * var(--nav-height)) !important;
    }

    .top-m-s {
        margin-top: calc(var(--nav-height) + 2vh) !important;
    }

    .full-page{
        min-height: 100vh !important;
    }

    .title h1{
        margin-bottom: 7vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .last-card{
        grid-column-end: 1;
    }

    .last-section{
        min-height: fit-content;
        margin-bottom: 10vh;
    }

    .about-grid{
        margin-top: 0;
    }
    
    .skills-container{
        grid-column-gap: 4vh;
    }

    .centre-parent{
        position: relative;
        transform: none;
        left: 0;
        top: 0;
        margin-top: 5vh;
    }
}

@media screen and (max-width:450px){
    .nav-links{
        display: none !important;
    }

    .hamburger{
        display: block;
    }

    footer{
        padding: 9vh 0;
    }

    .work-content{
        margin-top: 0px !important;
    }

    .full-page{
        margin-bottom: 0px !important;
    }

    .card{
        grid-template-columns: 1fr;
    }

    .card-cta{
        margin: auto;
        /* margin-right: 0; */
    }

    .card-breadcrumbs{
        margin-bottom: 20px;
    }

    .about-grid{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .about-links{
        margin: auto;
    }

    .skills-container{
        grid-template-columns: 1fr 1fr;
    }

    .interests-list{
        grid-template-columns: 1fr;
    }

    .interests-list img{
        grid-row-start: 1;
    }

    .interests-list ul{
        margin-top: 10px;
    }

    .top-p-m{
        padding-top: 0;
    }

    .project-meta{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}

/* #endregion */