<footer>
    <div class="copy-right">
        <p>Copyright @{{ utils.currentYear() }} John Doe</p>
    </div>
    <div class="footer-links">
        <div class="social-media">
            <div class="footer-category-title">
                <p>Follow Me</p>
            </div>

            {% for item in global.socialLinks %}
                <div class="footer-link">
                    <img src="{{ item.img }}" alt="{{ item.imgAlt }}">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </div>
            {% endfor %}
            
        </div>
        <div class="sitemap">
            <div class="footer-category-title">
                <p>Sitemap</p>
            </div>
            <a href="/">Home</a>
            <a href="/work/">Work</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </div>
    </div>
</footer>