<footer>
    <div class="spacing">
        <div class="copy-right">
            <p>Copyright @{{ utils.currentYear() }} {{site.author}}</p>
        </div>
        <div class="footer-links">
            <div class="social-media">
                <div class="footer-category-title">
                    <p>Follow Me</p>
                </div>

                <div class="footer-links-wrapper">
                {% for item in site.socialLinks %}
                    <div class="footer-link">
                        <a href="{{ item.url }}" target="_blank">
                            <img src="{{ item.img }}" alt="{{ item.imgAlt }}">
                        </a>
                    </div>
                {% endfor %}
                </div>
                
            </div>
            <div class="sitemap">
                <div class="footer-category-title">
                    <p>Sitemap</p>
                </div>

                {% include 'partials/_site-links.njk' %}

            </div>
        </div>
    </div>
</footer>