<footer>
    <div class="copy-right">
        <p>Copyright @2021 John Doe</p>
    </div>
    <div class="footer-links">
        <div class="social-media">
            <div class="footer-category-title">
                <p>Follow Me</p>
            </div>

            {% for item in socialLinks %}
                <div class="footer-link">
                    <img src="{{ item.img }}" alt="{{ item.imgAlt }}">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </div>
            {% endfor %}
            
        </div>
        <div class="sitemap">
            <div class="footer-category-title">
                <p>Sitemap</p>
            </div>
            <a href="#">Home</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
</footer>