<header>
    <nav>
        <div class="spacing"> 

             <!-- Desktop nav-->   
            <div class="nav-main">
                <a href="/" class="nav-logo">
                <li>
                    
                    <object type="image/svg+xml" data="{{ site.logo }}">
                    </object>
                    
                </li>
                </a>
            </div>
            <ul class="nav-links">

                {% include 'partials/_site-links.njk' %}

            </ul>

            <!-- Mobile nav-->
            {% include 'partials/_mobile-header.njk' %}

        </div>
    </nav>
</header>