<header>
    <nav>
        <div class="spacing"> 

             <!-- Desktop nav-->   
            <div class="nav-main">
                <li>
                    <a href="/" class="nav-logo">
                        <object type="image/svg+xml" data="{{ site.logo }}"></object>
                    </a>
                </li>
            </div>
            <ul class="nav-links">

                {% for nav in collections.nav %}
                     <li>
                        <a href="{{nav.data.pageUrl}}" 
                        {% if page.url == nav.data.pageUrl %} 
                           aria-current="page"
                        {% endif %}>
                            {{nav.data.pageName}}
                        </a>
                    </li>
                {% endfor %}

            </ul>

            <!-- Mobile nav-->
            <div class="hamburger">
                <div class="hamburger-icon" onclick="ToggleHamburger('.hamburger-content')">
                    <div class="line top-line"></div>
                    <div class="line"></div>
                    <div class="line bottom-line"></div>
                </div>

                <div class="hamburger-content">
                    <ul class="hamburger-links">

                         {% for nav in collections.nav %}
                            <li>
                                <a href="{{nav.data.pageUrl}}" 
                                {% if page.url == nav.data.pageUrl %} 
                                aria-current="page"
                                {% endif %}>
                                    <span>{{nav.data.pageName}}</span>
                                </a>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>