<header>
    <nav>
        <div class="spacing"> 

             <!-- Desktop nav-->   
            <div class="nav-main">
                <a href="/" class="nav-logo">
                <li>
                    <img src="{{site.logo}}" alt="Logoipsum">
                </li>
                </a>
            </div>

            {% include 'partials/_site-header.njk' %}

            <!-- Mobile nav-->
            {% include 'partials/_mobile-header.njk' %}

        </div>
    </nav>
</header>